<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>

        <!-- JQUERY -->
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
        <link href = "https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel = "stylesheet">

        <!-- BOOTSTRAP -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>

        <link href="https://fonts.googleapis.com/css?family=Amatic+SC|Noticia+Text|Prompt|Rajdhani" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">


        <link rel="stylesheet" href="{{ asset('main.css') }}">


        {% block stylesheets %}{% endblock %}
        {% block javascripts %}{% endblock %}

    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light fixed-top">
          <div class="container">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
            <!-- taille xs sm md -->
            <a class="navbar-brand font-weight-bold text-info" href="{{ path('home') }}">Olikin</a>
            <div class="d-block d-lg-none d-xl-none">
              {% if is_granted('ROLE_USER') %}
              <form action="{{ path('security_logout') }}" method="post">
                <button class="btn btn-outline-warning my-2 my-sm-0" type="submit">Déconnexion</button>
                <a class="para" href="{{ path('user') }}"><i class="fas fa-cog fa-1x"></i></a>
              </form>

              {% else %}
              <form action="{{ path('user_registration')}}" method="post">
                <button class="btn btn-outline-success" type="submit">S'incrire</button>
                <button type="button" class="btn btn-outline-info" data-toggle="modal" data-target="#connectModal">
                  Connexion
                </button>
              </form>
              {% endif %}

            </div>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item {% block index %}{% endblock %}">
                  <a class="nav-link" href="{{ path('advert_index') }}">Annonce <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item {% block new %}{% endblock %}">
                  <a class="nav-link" href="{{ path('advert_new') }}">Ajoutez une annonce</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{ path('contact') }}">Contact</a>
                </li>
              </ul>
            </div>

            <div class=" d-none d-lg-block d-xl-block">
              {% if is_granted('ROLE_USER') %}
              <form action="{{ path('security_logout') }}" method="post">
                <button class="btn btn-outline-warning my-2 my-sm-0" type="submit">Déconnexion</button>
                <a class="para" href="{{ path('user') }}"><i class="fas fa-cog "></i></a>
              </form>
              {% else %}
              <form action="{{ path('user_registration')}}" method="post">
                <button class="btn btn-info" type="submit">S'incrire</button>
                <button type="button" class="btn btn-outline-info" data-toggle="modal" data-target="#connectModal">
                  Connexion
                </button>
              </form>

              {% endif %}
            </div>
          </div>
        </nav>

      <!-- Modal -->
      <div class="modal fade" id="connectModal" tabindex="-1" role="dialog" aria-labelledby="connectModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content text-info" >
            <div class="modal-header">
              <h5 class="modal-title" id="connectModalLabel">Connexion</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form action="{{ path('security_login') }}" method="post">
                  <fieldset>
                      <div class="form-group">
                          <label for="username">Pseudo</label>
                          <input type="text" id="username" name="_username"  class="form-control"/>
                      </div>
                      <div class="form-group">
                          <label for="password">Mot de passe</label>
                          <input type="password" id="password" name="_password" class="form-control" />
                      </div>

                      <div class="form-group">
                        <div class="custom-control custom-checkbox">
                          <input type="checkbox"  class="custom-control-input" id="remember_me" name="_remember_me" />
                          <label class="custom-control-label" for="remember_me">Ce souvenir de moi</label>
                        </div>
                      </div>

                      <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"/>
                      <input type="hidden" name="_target_path" value="{{ app.request.uri }}" />
                      <div class="row justify-content-center">
                        <button type="submit" class="btn btn-info">
                            <i class="fa fa-sign-in" aria-hidden="true">Connexion</i>
                        </button>
                      </div>

                  </fieldset>
              </form>
              <a class="text-info" href="{{ path('security_resetpass_mailer')}}">Mot de passe oubliée ?</a>
              <p>Pas encore membre ? <a class="text-info" href="{{ path('user_registration')}}">Inscrivez-vous</a></p>

            </div>
            <!-- <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Save changes</button>
            </div> -->
          </div>
        </div>
      </div>


{% block img %}{% endblock %}
<div id="message" class="container text-center">
      {% for message in app.flashes('notice') %}
          <div class="alert alert-info" role="alert">
            <strong>{{ message }}</strong>
            </div>
      {% endfor %}
</div>

  {% block ind %} {% endblock %}


<div class="container">
  {% block body %}{% endblock %}
</div>




<footer class="footer">
  <div class="row">
    <div class="col-6">

    </div>
    <div class="col-6">
      <a class="linkfooter" href="{{ path('legal') }}">Mention legales</a>
      <a class="linkfooter" href="{{ path('contact') }}">Contact</a>
    </div>
  </div>

</footer>
<!-- <script type="text/javascript">
setTimeout(function() {
  $('#message').remove();
}, 3000); -->
</script>
    </body>
</html>
