<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        {% block meta %}{% endblock %}

        <!-- JQUERY -->
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
        <link href = "https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel = "stylesheet">

        <!-- BOOTSTRAP -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>

        <link href="https://fonts.googleapis.com/css?family=Amatic+SC|Noticia+Text|Prompt|Rajdhani" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">


        <link rel="stylesheet" href="{{ asset('main.css') }}">


        {% block stylesheets %}{% endblock %}
        {% block javascripts %}{% endblock %}

    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light fixed-top">
          <div class="container">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
            <!-- taille xs sm md -->
            <a class="navbar-brand font-weight-bold text-info" href="{{ path('home') }}">Olikin</a>
            <div class="d-block d-lg-none d-xl-none">
              {% if is_granted('ROLE_USER') %}
              <form action="{{ path('security_logout') }}" method="post">
                <button class="btn btn-outline-warning my-2 my-sm-0" type="submit">Déconnexion</button>
                <a class="para" href="{{ path('user') }}"><i class="fas fa-cog fa-1x"></i></a>
              </form>

              {% else %}
              <form action="{{ path('user_registration')}}" method="post">
                <button class="btn btn-info" type="submit">S'incrire</button>
                <button type="button" class="btn btn-outline-info" data-toggle="modal" data-target="#connectModal">
                  Connexion
                </button>
              </form>
              {% endif %}

            </div>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item {% block index %}{% endblock %}">
                  <a class="nav-link" href="{{ path('advert_index') }}">Annonce <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item {% block new %}{% endblock %}">
                  <a class="nav-link" href="{{ path('advert_new') }}">Ajoutez une annonce</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{ path('contact') }}">Contact</a>
                </li>
              </ul>
            </div>

            <div class=" d-none d-lg-block d-xl-block">
              {% if is_granted('ROLE_USER') %}
              <form action="{{ path('security_logout') }}" method="post">
                <button class="btn btn-outline-warning my-2 my-sm-0" type="submit">Déconnexion</button>
                <a class="para" href="{{ path('user') }}"><i class="fas fa-cog "></i></a>
              </form>
              {% else %}
              <form action="{{ path('user_registration')}}" method="post">
                <button class="btn btn-info" type="submit">S'incrire</button>
                <button type="button" class="btn btn-outline-info" data-toggle="modal" data-target="#connectModal">
                  Connexion
                </button>
              </form>

              {% endif %}
            </div>
          </div>
        </nav>

      <!-- Modal -->
      <div class="modal fade" id="connectModal" tabindex="-1" role="dialog" aria-labelledby="connectModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content text-info" >
            <div class="modal-header">
              <h5 class="modal-title" id="connectModalLabel">Connexion</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form action="{{ path('security_login') }}" method="post">
                  <fieldset>
                      <div class="form-group">
                          <label for="username">Pseudo</label>
                          <input type="text" id="username" name="_username"  class="form-control"/>
                      </div>
                      <div class="form-group">
                          <label for="password">Mot de passe</label>
                          <input type="password" id="password" name="_password" class="form-control" />
                      </div>

                      <div class="form-group">
                        <div class="custom-control custom-checkbox">
                          <input type="checkbox"  class="custom-control-input" id="remember_me" name="_remember_me" />
                          <label class="custom-control-label" for="remember_me">Ce souvenir de moi</label>
                        </div>
                      </div>

                      <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"/>
                      <input type="hidden" name="_target_path" value="{{ app.request.uri }}" />
                      <div class="row justify-content-center">
                        <button type="submit" class="btn btn-info">
                            <i class="fa fa-sign-in" aria-hidden="true">Connexion</i>
                        </button>
                      </div>

                  </fieldset>
              </form>
              <a class="text-info" href="{{ path('security_resetpass_mailer')}}">Mot de passe oubliée ?</a>
              <p>Pas encore membre ? <a class="text-info" href="{{ path('user_registration')}}">Inscrivez-vous</a></p>

            </div>
            <!-- <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Save changes</button>
            </div> -->
          </div>
        </div>
      </div>


{% block img %}{% endblock %}
<div id="message" class="container text-center">
      {% for message in app.flashes('notice') %}
          <div class="alert alert-info" role="alert">
            <strong>{{ message }}</strong>
            </div>
      {% endfor %}
</div>

  {% block ind %} {% endblock %}


<div class="container">
  {% block body %}{% endblock %}
</div>




<footer class="footer">
  <div class="row">
    <div class="col-6">

    </div>
    <div class="col-6">
      <a class="linkfooter" href="{{ path('legal') }}">Mention legales</a>
      <a class="linkfooter" href="{{ path('contact') }}">Contact</a>
    </div>
  </div>

</footer>
<script type="text/javascript">
$( document ).ready(function() {
  setTimeout(function() {
    $('#message').hide();
  }, 6000);
});
</script>


<!-- Quantcast Choice. Consent Manager Tag -->
<script type="text/javascript" async=true>
    var elem = document.createElement('script');
    elem.src = 'https://quantcast.mgr.consensu.org/cmp.js';
    elem.async = true;
    elem.type = "text/javascript";
    var scpt = document.getElementsByTagName('script')[0];
    scpt.parentNode.insertBefore(elem, scpt);
    (function() {
    var gdprAppliesGlobally = false;
    function addFrame() {
        if (!window.frames['__cmpLocator']) {
        if (document.body) {
            var body = document.body,
                iframe = document.createElement('iframe');
            iframe.style = 'display:none';
            iframe.name = '__cmpLocator';
            body.appendChild(iframe);
        } else {
            // In the case where this stub is located in the head,
            // this allows us to inject the iframe more quickly than
            // relying on DOMContentLoaded or other events.
            setTimeout(addFrame, 5);
        }
        }
    }
    addFrame();
    function cmpMsgHandler(event) {
        var msgIsString = typeof event.data === "string";
        var json;
        if(msgIsString) {
        json = event.data.indexOf("__cmpCall") != -1 ? JSON.parse(event.data) : {};
        } else {
        json = event.data;
        }
        if (json.__cmpCall) {
        var i = json.__cmpCall;
        window.__cmp(i.command, i.parameter, function(retValue, success) {
            var returnMsg = {"__cmpReturn": {
            "returnValue": retValue,
            "success": success,
            "callId": i.callId
            }};
            event.source.postMessage(msgIsString ?
            JSON.stringify(returnMsg) : returnMsg, '*');
        });
        }
    }
    window.__cmp = function (c) {
        var b = arguments;
        if (!b.length) {
        return __cmp.a;
        }
        else if (b[0] === 'ping') {
        b[2]({"gdprAppliesGlobally": gdprAppliesGlobally,
            "cmpLoaded": false}, true);
        } else if (c == '__cmp')
        return false;
        else {
        if (typeof __cmp.a === 'undefined') {
            __cmp.a = [];
        }
        __cmp.a.push([].slice.apply(b));
        }
    }
    window.__cmp.gdprAppliesGlobally = gdprAppliesGlobally;
    window.__cmp.msgHandler = cmpMsgHandler;
    if (window.addEventListener) {
        window.addEventListener('message', cmpMsgHandler, false);
    }
    else {
        window.attachEvent('onmessage', cmpMsgHandler);
    }
    })();
    window.__cmp('init', {
    		'Language': 'fr',
		'Initial Screen Title Text': 'Le respect de votre vie privée est notre priorité',
		'Initial Screen Reject Button Text': 'Je refuse',
		'Initial Screen Accept Button Text': 'J&#039;accepte',
		'Initial Screen Purpose Link Text': 'Afficher toutes les utilisations prévues',
		'Purpose Screen Title Text': 'Le respect de votre vie privée est notre priorité',
		'Purpose Screen Body Text': 'Vous pouvez configurer vos réglages et choisir comment vous souhaitez que vos données personnelles soient utilisée en fonction des objectifs ci-dessous. Vous pouvez configurer les réglages de manière indépendante pour chaque partenaire. Vous trouverez une description de chacun des objectifs sur la façon dont nos partenaires et nous-mêmes utilisons vos données personnelles.',
		'Purpose Screen Enable All Button Text': 'Consentement à toutes les utilisations prévues',
		'Purpose Screen Vendor Link Text': 'Afficher la liste complète des partenaires',
		'Purpose Screen Cancel Button Text': 'Annuler',
		'Purpose Screen Save and Exit Button Text': 'Enregistrer et quitter',
		'Vendor Screen Title Text': 'Le respect de votre vie privée est notre priorité',
		'Vendor Screen Body Text': 'Vous pouvez configurer vos réglages indépendamment pour chaque partenaire listé ci-dessous. Afin de faciliter votre décision, vous pouvez développer la liste de chaque entreprise pour voir à quelles fins il utilise les données. Dans certains cas, les entreprises peuvent révéler qu&#039;elles utilisent vos données sans votre consentement, en fonction de leurs intérêts légitimes. Vous pouvez cliquer sur leurs politiques de confidentialité pour obtenir plus d&#039;informations et pour vous désinscrire.',
		'Vendor Screen Accept All Button Text': 'Tout Accepter',
		'Vendor Screen Reject All Button Text': 'Tout Refuser',
		'Vendor Screen Purposes Link Text': 'Revenir aux Objectifs',
		'Vendor Screen Cancel Button Text': 'Annuler',
		'Vendor Screen Save and Exit Button Text': 'Enregistrer et quitter',
		'Initial Screen Body Text': 'Nos partenaires et nous-mêmes utilisent différentes technologies, telles que les cookies, pour personnaliser les contenus et les publicités, proposer des fonctionnalités sur les réseaux sociaux et analyser le trafic. Merci de cliquer sur le bouton ci-dessous pour donner votre accord. Vous pouvez changer d’avis et modifier vos choix à tout moment',
		'Initial Screen Body Text Option': 1,
		'Publisher Name': 'Olikin',
		'Consent Scope': 'service',
    });
</script>
<!-- End Quantcast Choice. Consent Manager Tag -->
    <style>
        .qc-cmp-button {
          background-color: #17a2b8 !important;
          border-color: #17a2b8 !important;
        }
        .qc-cmp-button:hover {
          background-color: transparent !important;
          border-color: #17a2b8 !important;
        }
        .qc-cmp-alt-action,
        .qc-cmp-link {
          color: #17a2b8 !important;
        }
        .qc-cmp-button {
          color: ##FE7A00 !important;
        }
        .qc-cmp-button.qc-cmp-secondary-button {
          color: #FE7A00 !important;
        }
        .qc-cmp-button.qc-cmp-button.qc-cmp-secondary-button:hover {
          color:#ffffff !important;
        }
        .qc-cmp-button.qc-cmp-secondary-button {
          border-color: #FE7A00 !important;
          background-color: transparent !important;
        }
        .qc-cmp-button.qc-cmp-secondary-button:hover {
          background-color: #FE7A00 !important;
        }
        .qc-cmp-qc-link-container {

      	position: absolute !important;
      	bottom: 0 !important;
      	right: 0 !important;
      	font-size: 12px !important;
      	display: flex !important;
      	align-items: center !important;
      	padding: 0 30px 30px 0 !important;
         visibility: hidden;
      }
    </style>
    </body>
</html>
