{% extends 'base.html.twig' %}

{% block title %}Advert index{% endblock %}

{% block body %}
    <h1>Advert index</h1>

<div class="row">
  <div class="col-sm-4">
{% for cit in city %}
<a href="{#{ path('advert_city', {'city': cit.city}) }#}">{{cit.city}}({{cit.1}})</a>
<br>
{% endfor %}
  </div>
  <div class="col-sm-8">
    {% for advert in adverts %}
    <div class="card" style="">
    <div class="card-body">
    <h5 class="card-title">{{ advert.city }} {{ advert.appointmentdate|date('d-m') }} </h5>
    <h6 class="card-subtitle mb-2 text-muted">Niveau: {{ advert.level }}  Durée: {{ advert.time|date('H:i')}}</h6>
    <p class="card-text">{{ advert.content }}</p>
    <a href="{{ path('advert_show', {'id': advert.id}) }}" class="card-link">Voir</a>
    </div>
    </div>
    <br>
    {% else %}
        <tr>
            <td colspan="8">no records found</td>
        </tr>
    {% endfor %}
  </div>
</div>



    <a href="{{ path('advert_new') }}">Create new</a>
{% endblock %}
