{% extends 'base.html.twig' %}

{% block title %}Ajouter une annonce{% endblock %}
{% block meta %}
  <meta name="description" content="Pour ajouté une nouvelle annonce" />
{% endblock %}
{% block new %}activenav{% endblock %}
{% block img %}
<div class="img-band img2">
<h2 class="text-center banner">Ajouter une annonce</h2>
</div>
{% endblock %}
{% block stylesheets %}
  <style>
      /*#map {  bottom:0; width:100%; }*/
  </style>
{% endblock %}

{% block body %}


<div class="col-md-12 col-lg-10 offset-lg-1 text-info font-weight-bold advert-show">
    {{ form_start(form, {'attr':{'onsubmit':'return valider(this)'}}) }}
  <div class="row">
    <div class="col-md-12 col-lg-12 col-xl-6">
      <div class="row">
        <div class=" col-12 col-sm-12 col-md-6 col-lg-6 text-center">
            <div class="dateall">
              <i class="far fa-calendar-alt fa-2x"></i>
              <p>1. Choisi une date</p>

            <div id="datepicker"></div>
            {{ form_widget(form.date) }}
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6 text-center">
            <div class="time text-center" style="margin-top:20px">
              <i class="far fa-clock fa-2x"></i>
              <p>2. Mets l'heure du<br>rendez-vous:</p>
              {#{ form_label(form.hour)}#}
              {{ form_widget(form.hour)}}
            </div>
            <div class="time text-center">
              <i class="far fa-map fa-2x"></i>
              <p>3. Rechercher la ville et cliquer sur la carte pour ajouter le lieux du rendez-vous</p>
            </div>

        </div>
      </div>
    </div>

    <br>
    <br>

    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-6">

        <div id='map'></div>
        <div id="error" style="color:red;"></div>
        <!-- <div id='map' class="center-block"></div> -->
    </div>

</div>
</div>
<div class="col-md-12 col-lg-10 offset-lg-1 text-info font-weight-bold advert-show">
      <!-- <br>
      <hr> -->
      <br>
      <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-3">
          <div class="time text-center">
            <i class="far fa-hourglass fa-2x"></i>
            <p>4. Choisi la durée<br>souhaité :</p>
            {{ form_widget(form.time)}}
          </div>
          <div class="text-center time">
            <i class="fas fa-level-up-alt fa-2x"></i>
            <p>5. Choisi le niveau</p>
                {{ form_widget(form.level)}}
          </div>

        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-8 offset-lg-1">

          <div class="contentcom">
            <h3>6. Rédige l'annonce avec les details souhaitées</h3>
          </div>
          {{ form_widget(form.content)}}
          <div class="contentcom">
            <p>Exemples:</p>
            <ul>
             <li>Si c'est sur route ou terre (passée par une forêt nécessite un VTT)</li>
             <li>Pour le niveau sport si c'est pour se dépenser ou la competition</li>
             <li>Si vous voulez vous balader et prendre un pique-nique</li>
           </ul>
        </div>
      </div>
    </div>
      <div class="row">
        <div class="col-md-12">
          <div class="text-center">
            <button class="btn btn-info">{{ button_label|default('Envoyer') }}</button>
          </div>
        </div>
      </div>

    {{ form_widget(form) }}
    {{ form_end(form) }}

</div>

<!-- On charge la bibliothèque datepicker  -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/locales/bootstrap-datepicker.fr.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker3.css"/>

<script type="text/javascript">
$(document).ready(function() {


  $("#datepicker").datepicker({
  format: "dd/mm/yyyy",
  startDate: "today",
  language: "fr",
  weekStart: 1,
  });

  $('#datepicker').on('changeDate', function() {
    $('#advert_date').val($('#datepicker').datepicker('getFormattedDate'));
  });

 });
</script>

    <!-- MAPBOX -->
    <script src='https://api.mapbox.com/mapbox-gl-js/v0.46.0/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v0.46.0/mapbox-gl.css' rel='stylesheet' />

    <!-- MAPBOX GEOCODER -->
    <script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v2.2.0/mapbox-gl-geocoder.min.js'></script>
    <link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v2.2.0/mapbox-gl-geocoder.css' type='text/css' />

        <script>
        mapboxgl.accessToken = '{{mapbox_token}}';
        var map = new mapboxgl.Map({
        container: 'map',
        center: [2.35, 46.11],
        zoom: 5,
        style: 'mapbox://styles/mapbox/streets-v10'
        });
        map.addControl(new MapboxGeocoder({
            accessToken: mapboxgl.accessToken,
            // limit results to rance
            country: 'fr',
            language: 'fr',

        }));

        //controle + -
        //options.showCompassBoolean(false) surpime le compat
        var nav = new mapboxgl.NavigationControl({showCompass:false});
        map.addControl(nav, 'top-left');
        //suppression du zoom
        map.scrollZoom.disable();


        var marker = new mapboxgl.Marker();
        map.on('click', function (e) {
          marker.setLngLat([e.lngLat.lng, e.lngLat.lat]).addTo(map);
          // document.getElementById('advert_ltg').value = e.lngLat.lng;
          // document.getElementById('advert_lat').innerHTML = e.lngLat.lat;
          document.getElementById('advert_lat').setAttribute('value', e.lngLat.lat);
          document.getElementById('advert_lng').setAttribute('value', e.lngLat.lng);
              //  $.ajax({url: "https://api-adresse.data.gouv.fr/reverse/?lon=2.37&lat=48.357",
              //   success: function(result){
              //       $("#div1").html(result);
              //       console.log(result);
              //   }});

         });

         function valider() {
           if (!document.getElementById('advert_lng').value) {
             document.getElementById('error').innerHTML = "Vous devez choisir un lieux en cliquant sur la carte";
             return false;
           }else {
             return true;
           }
         }
        </script>


{% endblock %}
